@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.rcorners{
    text-align: center;
    /* border-radius: 25px;
    border:2px solid white;
    padding: 20px;
    width: 1250px;
    height: 2vh; */
    position:relative;
}
#rcorncers{
    border-radius: 25px;
    border:2px solid white;
    padding: 20px;
    width: 1250px;
    height: 2vh;
}

section{
    background-image: url("background.png");
    font-family: 'Times New Roman', Times, serif;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    overflow: hidden;
}
.container-box{
    display: flex;
    width:  90vw;
}
.panel{
    background-size: auto 100%; 
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color:#fff;
    cursor: pointer;
    flex:0.5;
    margin: 10px; 
    position: relative;
    transition: flex 0.7s ease-in;

}
.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 50px;
    left: 50px;
    opacity: 0;
    margin: 0;
}
.panel.active {
    opacity: 1;
    flex: 5;
}
.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

h1{
    text-align: left;
    color: whitesmoke;
}

/* #rcorners1{
    border-radius: 25px;
    border:2px solid white;
    padding: 20px;
    width: 700px;
    height: 100;
}
#rcorners2{
    border-radius: 25px;
    border:2px solid white;
    padding: 20px;
    width: 700px;
    height: 200;
}
#rcorners3{
    border-radius: 25px;
    border:2px solid white;
    padding: 20px;
    width: 700px;
    height: 200;
} */
p, h3{
    color:whitesmoke;
    text-align: center;

}
@media(max-width: 480px){
    .container{
        width: 100vw;
    }
    .panel:nth-of-type(1),
    .panel:nth-of-type(2){
        display:none;
    }
}