h1 {
    text-align: left;
    color: whitesmoke;
}

.carousel{
    margin: 0 auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3) ;
    height: 530px;
    width: 500px;
    overflow: hidden;
    border-radius: 8px;
    
}
.image-container{
    display: flex;
    transform: translateX(0);
    transition: transform .5s ease-in-out;
}

.carousel img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.buttons-container {
    display: flex;
    justify-content: space-between;

}
.btn {
    background-color: rgb(160, 151, 168) ;
    color: aliceblue;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    width: 49%;
}
.btn:hover {
    opacity: 0.6;
}

.btn:focus {
    outline: none;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box {
    background-color: rgb(241, 237, 237);
    padding: 12px 10%;
    margin: 32px 25%;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3) ;
}

#imag {
    max-width: 90%;
    max-height: 90%;
    border-radius: 100px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3) ;
}

