.hero-menu {
    background-image: url('images/image-p-09.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 60vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
}

.hero-menu::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    font-size: small;
    padding: 1rem;
    color: black;
}

/* Removed dots */
.menu-list{ 
    list-style-type: none;
}

ul.empUL {
    list-style-type: disc;
    display: inline-block;
    text-align: left;
}

.foodmenu .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

}

.foodmenu .box-container .box {
    border: 1px solid #e6e6e6;
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: .5rem;
    height: 40vh;
    width: 30vw;

}


.foodmenu .box-container .box .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -100%;
    left: 0;
}

/* .content .text {
    height: 0;
    opacity: 1;
    transition: 0s;
    transition-duration: 0.4s;
}

.content:hover .text {
    opacity: 1;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
} */

.foodmenu .box-container .box .content {
    text-align: center;
    background-color: #fff;
    padding: 2rem;
}

.foodmenu .box-container .box .content h3 {
    font-weight: 600;
    color: #1e2331;
    margin-bottom: 17px;
    text-transform: capitalize;
    position: relative;
    font-size: 20px;
    text-align: center;
}

.foodmenu .box-container .box .content p {
    font-size: small;
    color: black;
    padding: 1rem 0;
    text-align: center;
    position: relative;
}

.foodmenu .box-container .box:hover .image {
    top: 0;
    transition: 0.6s;

}

.foodmenu .box-container .box:hover .content {
    transform: translateY(100%);
    padding-top: 200px;
}
