@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

p {
    color: white;
    text-shadow: 2px 2px 8px whitesmoke;
}

h1 {
    text-align: center;
}

.semi-transparent-button {
    display: block;
    font-family: "", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 8px;
    width: 80%;
    max-width: 200px;
    background: #fff;
    /* fallback color for old browsers */
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;
}


section {
    background-image: url("background.png");
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    overflow: hidden;
}

.container-box {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.9s ease-in;

}

.services {
    color: #fff;
    transform: rotate(-90deg);
    font-size: 40px;
    letter-spacing: 2px;
    transition: .5 ease;
    max-width: 100%;
    margin-bottom: 120%;
}

.panel:hover .services {
    transform: rotate(0deg);
    margin-bottom: 3%;
    margin-left: 20%;
    transition: 0.6s ease;
}

.panel:hover {
    opacity: 1;
    flex: 5;
}

.hoverdiv {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: black;
    padding: 24px;
    box-sizing: border-box;
    font-size: large;
}

h1 {
    text-align: left;
    color: whitesmoke;
}

background-image {
    transition: 0.3s;
    filter: blur(5px);
}

background-image:hover {
    filter: blur(0);
}

.footer .top {
    background-color: white;
    padding: 10rem 9%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.footer .top .links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.footer .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    background-color: white;
}

.footer .top .content p {
    color: black;
    margin-top: 2rem;
    width: 90%;
}

.footer .top .link h4 {
    font-size: large;
    margin-bottom: 1.5rem;
}

.footer .top .link a {
    display: inline-block;
    color: black;
    margin-bottom: 1rem;
}

.footer .top .link span {
    color: black;
}

.footer .top .link a {
    display: block;
}

.footer .top .link div {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.footer .top .link div img {
    margin-right: 1rem;
}

@media (max-width: 996px) {
    .footer .top {
        padding: 5rem 9%;
        grid-template-columns: 1fr;
    }

    .footer .top .content {
        display: none;
    }
}

@media (max-width: 768px) {
    .footer .top .links {
        grid-template-columns: 1fr;
        gap: 3rem 0;
    }

    .footer .top .link {
        display: flex;
        flex-direction: column;
    }

    .footer .bottom {
        padding: 1.5rem;
    }
}

@media(max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(1),
    .panel:nth-of-type(2) {
        display: none;
    }
}