@import url('https://fonts.googleapis.com/css2?Muli&display=swap%27');

.rcorners{
    text-align: center;
    /* border-radius: 25px;
    border:2px solid white;
    padding: 20px;
    width: 1250px;
    height: 2vh; */
    position:relative;
}
#rcorncers{
    border-radius: 25px;
    border:2px solid white;
    padding: 20px;
    width: 1250px;
    height: 2vh;
}

body{
    background-image: url("background.png");
    font-family: 'Times New Roman', Times, serif;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}
.container{
    display: flex;
    flex-direction: column;
    width:90vw;
    height: 100vh;
}
.panel{
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height:80vh;
    border-radius:50px;
    flex:0.5;
    position:relative;
    transition: flex 0.7s ease-in;
    color:white;
    cursor: pointer;
    margin:10px;
}
.panel h3{
    font-size: 24px;
    position:center;
    bottom:20px;
    left:20px;
    opacity:0;
    margin:0;
}
.panel.active {
    opacity: 1;
    flex: 5;
}
.panel.active h3{
    opacity:1;
}
h1{
    text-align: left;
    color: whitesmoke;
}

/* #rcorners1{
    border-radius: 25px;
    border:2px solid white;
    padding: 20px;
    width: 700px;
    height: 100;
}
#rcorners2{
    border-radius: 25px;
    border:2px solid white;
    padding: 20px;
    width: 700px;
    height: 200;
}
#rcorners3{
    border-radius: 25px;
    border:2px solid white;
    padding: 20px;
    width: 700px;
    height: 200;
} */
p, h3{
    color:whitesmoke;
    text-align: center;

}
@media(max-width: 480px){
    .container{
        width: 100vw;
    }
    .panel:nth-of-type(2),
    .panel:nth-of-type(3){
        display:none;
    }
}